
body{
    font-family: "Roboto", sans-serif;
    padding-top: 70px;
}


.container {
    font-family: "Roboto", sans-serif;
    max-width: 1100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-container {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 20px auto; /* Espacio alrededor del panel */
}


.panel-heading,
.panel-body {
    width: 1000px; /* Ancho del panel */
    margin: 0 auto;
    justify-content: center;
    display: flex;

}

.panel-heading {
    margin: 0 auto;
    cursor: pointer;
    background-color: #005e00; /* Color verde oscuro para el fondo */
    color: #ffffff; /* Letras en blanco */
    padding: 8px 15px; /* Ajusta el tamaño del padding */
    border-radius: 8px 8px 0 0; /* Ajusta el radio de los bordes */
    font-weight: bold;
    text-align: center;
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    margin-bottom: 5px; /* Espacio debajo del encabezado */
}



.panel-body {
    margin: 0 auto;
    display: none; 
    padding: 10px 15px; /* Ajusta el tamaño del padding */
    border: 1px solid #005e00; /* Borde del panel */
    border-top: none;
    color: #000000; /* Texto negro */
    border-radius: 0 0 8px 8px; /* Ajusta el radio de los bordes */
    font-size: 13px; /* Ajusta el tamaño de la fuente */
    background-color: #ffffffda; /* Fondo verde muy claro para el cuerpo del panel */
}



.panel-body.show {
    display: block;
}

table {
    width: 100%; /* Ajusta el ancho de la tabla */
    margin: 0 auto; /* Centra la tabla en el panel */
    border-collapse: collapse;
    text-align: justify;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #afafaf;
    padding: 6px; /* Ajusta el tamaño del padding */
    text-align: center;
}

th {
    background-color:  #2d831c;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr td {
    color: #202020;
}
/* Estilos generales para mensajes */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Estilo específico para la advertencia */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* Opcional: agregar un icono de advertencia */
.alert-warning::before {
    content: "⚠️ ";
    font-weight: bold;
    margin-right: 5px;
    
}
/* para ubicar la tabla resumen */

.contenedor {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre los elementos */
    align-items: center;
    padding: 15px;
}

/* Sección izquierda */
.izquierda {
    flex: 1; /* Toma un espacio flexible */
    margin-right: 20px;
    text-align: center;
    
}
.izquierda h1 {
    font-size: 70px; /* Cambia este valor al tamaño que desees */
    font-weight: bold; /* Opcional: Para hacer el texto más grueso */
}

/* Sección derecha */
.derecha {
    flex: 1; /* Toma un espacio flexible */
}



header {
    position: fixed; /* Hace que el header esté siempre fijo */
    top: 0;
    left: 0;
    width: 100%; /* Abarca todo el ancho de la ventana */
    height: 63px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    
    z-index: 1000;/*  Asegura que esté por encima de otros elementos */
    padding: 10px 20px; /* Espacio interior */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Color del texto */
    margin: 0;
}

/* Estilo para los enlaces de navegación */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 5px; /* Espaciado entre los enlaces */
}

.nav-links a {
    text-decoration: none;
    display: inline-block;
    color: #333; /* Color de los enlaces */
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #1ce759; /* Cambia el color al pasar el mouse */
}

