/* static/css/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: "Roboto", sans-serif;
}



.introduccion {
    display:flex;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68)),
    url("/static/css/asistente_diagnostico/images/fondo.jpeg");
    font-family: Arial, sans-serif;
} 

/* .image {

    background-image: 
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(importancia-calidad-agua-de-riego.jpeg);
    background-size: cover;
    height: 400px;
   
} }*/
/*
.motivacion{
    align-items: center;
    background-color: aliceblue;

}*/


header {
    position: fixed; /* Hace que el header esté siempre fijo */
    top: 0;
    left: 0;
    width: 100%; /* Abarca todo el ancho de la ventana */
    height: 63px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 2px 10px rgba(214, 211, 211, 0.1); /* Sombra */
    
    z-index: 1000;/*  Asegura que esté por encima de otros elementos */
    padding: 10px 20px;
   
}

.flex{
    display: flex;
    align-items:center;
} 

.navbar {
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.nav-links {
    gap: 20px;
    list-style: none;
}

.navbar a {
    padding: 20px o;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.introduccion .contenido {
    margin: auto 0 auto 40px;
    color: rgb(255, 255, 255);
    
}

.introduccion .contenido h1{
    text-shadow: 5px 5px #000000;
    font-size: 3rem;
    max-width: 600px;
}

.introduccion .contenido p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    max-width: 700px;
}

.logose {
    display: flex;
    justify-content: center; /* Opcional: centra las imágenes en el contenedor */
    align-items: center; /* Opcional: alinea verticalmente las imágenes */
    gap: 50px; /* Espacio entre las imágenes, ajusta según tus necesidades */
    padding: 20px; /* Espacio interior opcional alrededor de las imágenes */

}

.logos {
    width: 100px; /* Ajusta el tamaño máximo de las imágenes si es necesario */
    height: 100px; /* Mantiene la proporción de las imágenes */
    border-radius: 10px;
    border-color: #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
 
button {
    background-color: #4e0d0d;
    font-size: 1rem;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-color: aliceblue;
    border-radius: 10px;
}

/* .motivacion p{

    text-transform: uppercase;
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
} */

 /* Estilos para la sección */


.motivacion-container {
    display: flex; /* Habilita flexbox para la alineación */
    align-items: center; /* Centra verticalmente los elementos */
    /*justify-content: center;*/
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9; /* Color de fondo de la sección */
}

.motivacion {
    font-family: "Roboto", sans-serif;
    display: flex; /* Habilita flexbox en el contenedor de motivación */
    align-items: center; /* Centra verticalmente la imagen y el texto */
}

.imagen-motivacion {
    width: 300px; /* Ancho de la imagen */
    height: 300px; /* Alto de la imagen */
    border-radius: 800px; /* Borde redondeado (mitad del ancho para un círculo) */
    /*margin-right: 1px;  Espacio entre la imagen y el texto */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    margin-left: 150px;
    
}

.texto-motivacion h3{

    text-align: center;
    
}

.texto-motivacion {
    max-width: 500px; /* Ancho máximo del texto */
    padding: 20px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    /* Ancho máximo del contenedor */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-left: 280px;
    text-align: justify;
}

/* Footer */
footer {
    text-align: center;
    padding: 1em 0;
    background:#005e00;
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}