{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Afectación General</title>
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <link rel="stylesheet" href="{% static 'css/resultado.css' %}">
</head>
<body>
    <h1 class="h1">Formulario de Afectación General</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="submit">Enviar</button>
        </div>
    </form>
    {% if afectacion_infraestructura is not None %}
        <div class="panel">
            <div class="panel-heading" onclick="togglePanel()">
                Afectación a la infraestructura
            </div>
            <div class="panel-body">
                <h3 class="h3">
                    La calidad del agua, especialmente en términos de la presencia de sales como los carbonatos de sodio, 
                    tiene un impacto significativo en la infraestructura de riego. La obstrucción de boquillas y la formación de incrustaciones 
                    en tuberías son problemas comunes que requieren atención para asegurar un sistema de riego eficiente y duradero.
                </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Valor del Índice</th>
                            <th>Valor Mínimo</th>
                            <th>Valor Máximo</th>
                            <th>Nivel de Afectación</th>
                            <th>Recomendaciones del Modelo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ valor_indice }}</td>
                            <td>{{ afectacion_infraestructura.valor_minimo }}</td>
                            <td>{{ afectacion_infraestructura.valor_maximo }}</td>
                            <td>{{ afectacion_infraestructura.nivel_afectacion }}</td>
                            <td>{{ afectacion_infraestructura.recomendacion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
    <script>
        function togglePanel() {
            var panelBody = document.querySelector('.panel-body');
            panelBody.classList.toggle('show');
        }
    </script>

</body>
</html>