{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <header>
        <nav class="navbar container flex">
            <h2 class="logo">Calidad</h2>
            <ul class="nav-links flex">
                <li><a href="#about us">¿Quienes somos?</a></li>
            </ul>
        </nav>
    </header>
    

    <section class="introduccion">
        <div class="contenido">

            <h1>  Nombre: El riego inteligente comienza con la calidad de agua </h1>
            <p>
                Esta herramienta esta pensada para apoyar la toma de decisiones en el sector agricola 
                a la hora de regar. 
            </p>           
            <br>
            <a href="afectacion-general">
                <button type="button">Comenzar ahora</button>
            </a>
        </div>

    </section>

    <section class="motivacion" id="motivacion">
        <p> Esta herramienta que permite evaluar de forma rápida e integral la calidad del agua para el riego, con el fin de identificar posibles afectaciones en el suelo, los cultivos, la salud humana e infraestructura de riego. Todo lo anterior con base en parámetros clasificados y categorizados que han sido señalados en lineamientos internacionales y nacionales, en conjunto con resultados de investigaciones a nivel mundial. La herramienta incluye una serie de recomendaciones para la práctica de riego y el tratamiento del agua utilizada en la agricultura. </p>
    </section>
        
</body>

</html>