{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="{% static 'css/nosotros.css' %}">

</head>
<body>
   
    <header>
        <h1>Quiénes Somos</h1>
        <p>Conoce al equipo detrás de nuestra investigación</p>
    </header>
    
    <section class="about">
        <h2>Nuestra motivación</h2>
        <p>
            En nuestro grupo de investigación Gestión Integral del Recurso Agua para el Desarrollo Agrícola y la Seguridad 
            Alimentaria mediante la Agricultura de Riego (REGAR), surgió la iniciativa de construir una herramienta para evaluar de manera integral 
            la calidad del agua para riego. El objetivo es ofrecer apoyo a todo tipo de usuarios, en línea con nuestras áreas de investigación: 
            la optimización del uso del recurso hídrico en proyectos de irrigación y la mejora de la calidad del agua para riego.
        </p>
    </section>
    
    <section class="team">
        <h2>Conoce a nuestro equipo</h2>
        <div class="team-member">
            <img src="miembros/john_doe.jpg" alt="1">
            <h3>María del Mar Carreño Sánchez</h3>
            <p>Estudiante de ingeniería agrícola. Responsable del desarrollo de aplicaciones y sistemas.</p>
        </div>
        <div class="team-member">
            <img src="miembros/jane_smith.jpg" alt="2">
            <h3>Sandra Milena Barona</h3>
            <p>Ingeniera agrícola. Especialista en biotecnología y análisis de datos.</p>
        </div>
        <div class="team-member">
            <img src="miembros/michael_johnson.jpg" alt="3">
            <h3>Andrés Fernando Echeverri</h3>
            <p>Ingeniero agrícola. Responsable del desarrollo de aplicaciones y sistemas.</p>
        </div>
    </section>
    
    <footer>
        <p>&copy; 2024. Todos los derechos reservados.</p>
    </footer>
</body>

</html>