@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


.formulario{
    padding: 10px;
    font-family: sans-serif;
    display:flexbox;
    
    min-height: 100vh;
    
    background-image: 
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("/static/css/asistente_diagnostico/images/fondo.jpeg"); 
    background-size: cover; 
    font-family: Arial, sans-serif;
    color: rgb(8, 8, 8);
    /* background: linear-gradient(90deg, rgba(7, 75, 5, 0.767),rgba(21, 99, 1, 0.767)) */
}

.inicio_form{
    font-family: "Roboto", sans-serif;
    
    text-align: center;
    padding: 50px;
    max-width: 1100px;
    justify-content: center;
    margin: 0 auto;
    
}

.inicio_form h1{
    font-size: 60px;
    font-weight: bold; 
}

.resaltar {
    color: #1c5a21; /* Cambia este color por el que prefieras */
    font-weight: bold; /* Opcional: para hacer la palabra en negrita */
}



/* ANTES */

form {
    
    width: 600px; /* Ancho del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 25px; /* Espacio interno del formulario */
    border: 2px solid rgb(255, 255, 255, .2); /* Borde de 2px de color gris */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
    /* background-color: transparent;  */
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    backdrop-filter: blur(1.8px);
}

.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
}



button {
    background-color: #4e0d0d;
    font-size: 1rem;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-color: aliceblue;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    
}
/* para el input */
.input-color {
    border: 3px solid rgb(255, 255, 255, .2); /* Borde de 2px de color gris */
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra (opcional) */
    background-color: transparent; 
    border-radius: 12px;
    color: #707070; /* Color del texto */
    padding: 5px;
    border-radius: 4px;
    width:120px;
    height: 33px;
    } 



/* paneles en el forms */
/* 
.panel {
    min-height: 300px; 
    background-color: rgba(200, 200, 200, 0.2); 
    border-radius: 8px; 
    border: 1px solid #ccc;  
}

.panel h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #6e1a1a; 
}

.panel .form-group {
    margin-bottom: 5px;
}

.form-group label {
    margin-right: 10px;
    min-width: 120px; 
    color:#000000
}

.panel .form-group input,
.panel .form-group select {
    width: 100%; 
    
    border: 2px solid rgb(255, 255, 255, .2); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: transparent; 
    border-radius: 12px;
    color: #707070; /
    padding: 5px;
    border-radius: 4px;
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {
    flex: 1;
    padding: 10px;
}
*/